@import 'leaflet/dist/leaflet.css';
@import 'leaflet.markercluster/dist/MarkerCluster.css';
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';

.map-wrapper {
  height: calc(100vh - 64px);
  width: 100%;
}

.map-wrapper > div {
  height: 100%;
}